* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  color: #fff;
}

.banner {
  background-color: #34495e;
  text-align: center;
  padding: 20px;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner h5 {
  font-weight: normal;
}

/* Contenedor general */
.pag {
  background-color: #fff;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px #34495e;
  max-width: 1000px;
}

/* Bloque principal */
.bloque1 {
  background-color: #e67e22;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.bloque2{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}

.bloque3{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}

.bloque4{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}


