*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: #fff;
}

.banner{
    display: flex;
    background-color: #34495e;
    display: flex;
    justify-content: center;
}

.pag{
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.banner h1{
    font-size: 2.5rem;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.banner h5{
    display: flex;
    justify-content:end;
}
.bloque1{
    background-color: #e67e22;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}

.bloque2{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}

.bloque3{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}

.bloque4{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
}
