*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.banner{
    display: flex;
    background-color: #34495e;
}

.pag{
    background-color: #fff;
}
.banner h1{
    font-size: 2.5rem;
    margin: 0;
    padding: 20px;
}

.bloque1{
    background-color: #e67e22;
    margin: 10px;
    padding: 30px;
}

.bloque2{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
}

.bloque3{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
}

.bloque4{
    background-color: #d35400;
    margin: 10px;
    padding: 30px;
}
